<section id="contact" class="contact">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>Contactos</h2>
      <p>Contacto-nos</p>
    </div>

    <div class="row mt-5">

      <div class="col-lg-4" data-aos="fade-right">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Localização:</h4>
            <p>Rua do tech4you, São Cosme, Vila Nova de Famalicão 470-111</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>reparacoes@tech4you.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Telefone:</h4>
            <p>+351 252 050 124</p>
            <p>+351 967 865 081</p>
          </div>

        </div>

      </div>

      <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

        <div class="mapouter" style="width: 100%; height: 100%;">
          <div class="gmap_canvas" style="width: 100%; height: 100%;"><iframe width="100%" height="100%"
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=Did%C3%A1xis%20S%C3%A3o%20Cosme&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
              href="https://fmovies-online.net"></a><br>
            <style>
              .mapouter {
                position: relative;
                text-align: right;
                height: 100%;
                width: 100%;
              }
            </style><a href="https://www.embedgooglemap.net"></a>
            <style>
              .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 100%;
                width: 100%;
              }
            </style>
          </div>
        </div>



      </div>

    </div>

  </div>
</section>
<br>