<body>
  <header id="header" class="fixed-top d-flex align-items-center  header-transparent header-scrolled">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <img src="../../assets/imagens/logo_navbar.png" style="height:100px;" alt="" routerLink="">

      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Início</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
          <li><a class="nav-link scrollto" href="#rma">Pesquisar RMA</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contactos</a></li>
          <li><a class="nav-link scrollto" routerLink="login">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
</body>